.menu-icon {
  width: 30px;
  height: 30px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: $blue;
    transform: rotate(0deg);
    transform-origin: center;
    transition: transform 0.2s, top 0.2s 0.2s;
  }

  &::before {
    top: 8px;
  }

  &::after {
    top: 19px;
  }

  &.active {
    &::after,
    &::before {
      transition: transform 0.2s 0.2s, top 0.2s;
    }

    &::before {
      top: 14px;
      transform: rotate(45deg);
    }

    &::after {
      top: 14px;
      transform: rotate(-45deg);
    }
  }
}
